# Additional packages for the JDCloud NSS build.
CONFIG_PACKAGE_extra-repo=y
CONFIG_PACKAGE_luci-app-frpc-multi=y
CONFIG_PACKAGE_luci-app-internet-check=y
CONFIG_PACKAGE_luci-app-openclash=y

CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_openvpn-openssl=y
CONFIG_PACKAGE_luci-app-natmap=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-app-rtp2httpd=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
CONFIG_PACKAGE_wakeonlan=y
CONFIG_PACKAGE_luci-app-usteer=y
