# Additional packages for the JDCloud NSS AP build.
CONFIG_PACKAGE_extra-repo=y
CONFIG_PACKAGE_luci-app-frpc-multi=m
CONFIG_PACKAGE_luci-app-internet-check=y
CONFIG_PACKAGE_luci-app-openclash=m

CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-ddns=m
CONFIG_PACKAGE_luci-app-upnp=m
CONFIG_PACKAGE_luci-app-wol=m
CONFIG_PACKAGE_luci-app-adguardhome=m
CONFIG_PACKAGE_openvpn-openssl=m
CONFIG_PACKAGE_luci-app-natmap=m
CONFIG_PACKAGE_luci-app-nlbwmon=m
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-proto-wireguard=m
CONFIG_PACKAGE_luci-app-rtp2httpd=m
CONFIG_PACKAGE_ddns-scripts-cloudflare=m
CONFIG_PACKAGE_wakeonlan=m
CONFIG_PACKAGE_luci-app-usteer=y
