config internet-check 'main'
	option enabled '1'
	option method 'ping'
	option interface ''
	option ping_target '223.5.5.5'
	option get_url 'http://connect.rom.miui.com/generate_204'
	option online_led 'blue:power'
	option offline_led 'red:power'
	option blue_led 'blue:power'
	option red_led 'red:power'
	option green_led 'green:power'
	option online_command ''
	option offline_command ''
	option interval '10'
